In [617]:
import pandas as pd
import datetime

In [618]:
df = pd.read_csv('../../hank/Transformed_Minedex_data.csv')
df.sample(10)

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne),ppm
16508,S0232684,31/01/2019,NaN,4.200,5.40,percent,Rutile,226.80000,kilotonne,NaN,HEAVY MINERAL SANDS,2.268000e+05,54000.00
3314,S0016662,09/12/2020,NaN,0.180,4.80,gram/tonne,Gold,864.00000,kilogram,2.0,GOLD,8.640000e-01,4.80
15373,S0229565,17/09/2018,29/06/2019,1.400,1.48,percent,Lithium oxide,20720.00000,tonnes,0.2,TIN - TANTALUM - LITHIUM,2.072000e+04,14800.00
12564,S0030959,05/05/2011,NaN,11.200,5.54,percent,Silica (reactive),0.62048,million tonnes,NaN,BAUXITE - ALUMINA,6.204800e+05,55400.00
1268,S0002113,30/06/2001,17/10/2005,0.373,1.32,gram/tonne,Gold,492.36000,kilogram,NaN,GOLD,4.923600e-01,1.32
16959,S0235786,29/06/2020,NaN,7.100,46.90,percent,Iron,3.32990,million tonnes,NaN,HEAVY MINERAL SANDS,3.329900e+06,469000.00
2796,S0005557,08/04/2010,NaN,0.173,1.10,gram/tonne,Gold,190.30000,kilogram,0.5,GOLD,1.903000e-01,1.10
2282,S0004362,17/06/2004,12/10/2005,1.660,1.96,gram/tonne,Gold,3253.60000,kilogram,0.5,GOLD,3.253600e+00,1.96
5883,S0001255,24/06/2012,NaN,0.048,100.00,percent,Heavy minerals,48.00000,kilotonne,2.5,HEAVY MINERAL SANDS,4.800000e+04,1000000.00
15755,S0230362,31/12/2012,NaN,22.000,4.13,percent,Silica,908.60000,kilotonne,NaN,IRON ORE,9.086000e+05,41300.00

In [619]:
ni_site_codes = df[df['CommodityName'] == 'Nickel']['SiteCode']

In [620]:
df = df[df['SiteCode'].isin(ni_site_codes)]
df.shape

(1240, 13)

In [621]:
df[df['SiteCode'] == 'S0001806']

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne),ppm
1132,S0001806,26/09/2008,26/09/2008,12.4,0.10,gram/tonne,Rhodium,1.24,tonnes,NaN,CHROMITE - PLATINOIDS,1.24,0.1
1133,S0001806,26/09/2008,26/09/2008,12.4,0.20,gram/tonne,Gold,2480.00,kilogram,NaN,CHROMITE - PLATINOIDS,2.48,0.2
1134,S0001806,26/09/2008,26/09/2008,12.4,1.10,gram/tonne,Platinum,13640.00,kilogram,NaN,CHROMITE - PLATINOIDS,13.64,1.1
1135,S0001806,26/09/2008,26/09/2008,12.4,1.40,gram/tonne,Palladium,17360.00,kilogram,NaN,CHROMITE - PLATINOIDS,17.36,1.4
1136,S0001806,26/09/2008,26/09/2008,9.8,1.60,gram/tonne,Palladium,15680.00,kilogram,NaN,CHROMITE - PLATINOIDS,15.68,1.6
1137,S0001806,26/09/2008,26/09/2008,9.8,0.10,gram/tonne,Rhodium,0.98,tonnes,NaN,CHROMITE - PLATINOIDS,0.98,0.1
1138,S0001806,26/09/2008,26/09/2008,9.8,0.30,gram/tonne,Gold,2940.00,kilogram,NaN,CHROMITE - PLATINOIDS,2.94,0.3
1139,S0001806,26/09/2008,26/09/2008,9.8,1.10,gram/tonne,Platinum,10780.00,kilogram,NaN,CHROMITE - PLATINOIDS,10.78,1.1
1140,S0001806,26/09/2008,26/09/2008,1.4,1.10,gram/tonne,Platinum,1540.00,kilogram,NaN,CHROMITE - PLATINOIDS,1.54,1.1
1141,S0001806,26/09/2008,26/09/2008,1.4,1.60,gram/tonne,Palladium,2240.00,kilogram,NaN,CHROMITE - PLATINOIDS,2.24,1.6
1142,S0001806,26/09/2008,26/09/2008,1.4,0.10,gram/tonne,Rhodium,0.14,tonnes,NaN,CHROMITE - PLATINOIDS,0.14,0.1
1143,S0001806,26/09/2008,26/09/2008,1.4,0.30,gram/tonne,Gold,420.00,kilogram,NaN,CHROMITE - PLATINOIDS,0.42,0.3
7228,S0001806,26/09/2008,26/09/2008,12.4,0.07,percent,Nickel,8.68,kilotonne,NaN,CHROMITE - PLATINOIDS,8680.00,700.0
7229,S0001806,26/09/2008,26/09/2008,12.4,0.09,percent,Copper,11.16,kilotonne,NaN,CHROMITE - PLATINOIDS,11160.00,900.0
7230,S0001806,26/09/2008,26/09/2008,9.8,0.11,percent,Nickel,10.78,kilotonne,NaN,CHROMITE - PLATINOIDS,10780.00,1100.0
7231,S0001806,26/09/2008,26/09/2008,9.8,0.22,percent,Copper,21.56,kilotonne,NaN,CHROMITE - PLATINOIDS,21560.00,2200.0
7232,S0001806,26/09/2008,26/09/2008,1.4,0.15,percent,Copper,2.10,kilotonne,NaN,CHROMITE - PLATINOIDS,2100.00,1500.0
7233,S0001806,26/09/2008,26/09/2008,1.4,0.09,percent,Nickel,1.26,kilotonne,NaN,CHROMITE - PLATINOIDS,1260.00,900.0

In [622]:
df['StartDate'].describe()

count           1240
unique           171
top       31/12/2017
freq              62
Name: StartDate, dtype: object

In [623]:
df['EndDate'].describe()

count            482
unique            92
top       30/12/2014
freq              40
Name: EndDate, dtype: object

### Get Most Recent Date for each site
- if contains EndDate, get most recent.
- if not get most recent StartDate

In [624]:
df_no_edate = df[df['EndDate'].isna()]
df_edate = df[~df['EndDate'].isna()]

In [625]:
df_edate.shape[0], df_edate.SiteCode.nunique(), df_no_edate.shape[0], df_no_edate.SiteCode.nunique()

(482, 157, 758, 175)

In [626]:
df_edate.shape[0] + df_no_edate.shape[0]

1240

In [627]:
df_edate_only_recent = df_edate.sort_values('EndDate').groupby('SiteCode').tail(1)

In [628]:
most_recent_end_dates = df_edate_only_recent[['SiteCode','EndDate']]
most_recent_end_dates

       SiteCode     EndDate
10165  S0020002  01/02/2018
12911  S0223306  01/03/2000
6989   S0001683  01/03/2006
14970  S0225795  01/08/2018
9404   S0017157  01/11/1999
...         ...         ...
6993   S0001707  31/12/2004
6277   S0001391  31/12/2017
11927  S0023213  31/12/2017
5699   S0001197  31/12/2017
6471   S0001476  31/12/2017

[157 rows x 2 columns]

In [629]:
most_recent_end_dates_dict = dict(zip(most_recent_end_dates['SiteCode'], most_recent_end_dates['EndDate']))
most_recent_end_dates_dict

{'S0020002': '01/02/2018',
 'S0223306': '01/03/2000',
 'S0001683': '01/03/2006',
 'S0225795': '01/08/2018',
 'S0017157': '01/11/1999',
 'S0019821': '02/02/2006',
 'S0001442': '02/02/2006',
 'S0005584': '02/02/2006',
 'S0020854': '03/05/2017',
 'S0020933': '03/10/2006',
 'S0032888': '04/03/2019',
 'S0019066': '04/11/2004',
 'S0002331': '05/07/2015',
 'S0001461': '05/07/2015',
 'S0004992': '06/05/2008',
 'S0023614': '08/10/2009',
 'S0224843': '08/12/2014',
 'S0004931': '10/11/2004',
 'S0005015': '11/04/2005',
 'S0016732': '11/10/2004',
 'S0001456': '12/08/2003',
 'S0006499': '13/10/2003',
 'S0001292': '14/02/2006',
 'S0020345': '14/02/2006',
 'S0001289': '14/02/2006',
 'S0022396': '15/03/2006',
 'S0001337': '15/08/1989',
 'S0001427': '15/08/1989',
 'S0001480': '15/08/1989',
 'S0001458': '15/08/1989',
 'S0225483': '15/10/2013',
 'S0022397': '17/09/2009',
 'S0225482': '17/10/2013',
 'S0001467': '17/10/2019',
 'S0001491': '18/04/2001',
 'S0018822': '18/04/2001',
 'S0002330': '18/04/2001',
 'S0020440': '18/04/2007',
 'S0004369': '18/05/2015',
 'S0022078': '18/06/2007',
 'S0022445': '18/06/2007',
 'S0020526': '20/07/2006',
 'S0005045': '20/09/1995',
 'S0005040': '20/09/1995',
 'S0005044': '20/09/1995',
 'S0005046': '20/09/1995',
 'S0005039': '20/09/1995',
 'S0005042': '20/09/1995',
 'S0005041': '21/05/2001',
 'S0002811': '22/05/1995',
 'S0019047': '22/05/2001',
 'S0223287': '23/06/2020',
 'S0022063': '23/06/2020',
 'S0006702': '23/10/2007',
 'S0224398': '24/02/2015',
 'S0002016': '25/01/2008',
 'S0001806': '26/09/2008',
 'S0019023': '27/04/2001',
 'S0006443': '27/09/2007',
 'S0226200': '28/08/2017',
 'S0006540': '28/10/1998',
 'S0005043': '28/10/1998',
 'S0006622': '28/10/1998',
 'S0006541': '28/10/1998',
 'S0005425': '28/10/1998',
 'S0018953': '28/10/2013',
 'S0002179': '29/03/2005',
 'S0002181': '29/03/2005',
 'S0002182': '29/03/2005',
 'S0018788': '29/03/2005',
 'S0005319': '29/03/2005',
 'S0002327': '29/04/2008',
 'S0001687': '29/06/2004',
 'S0019030': '29/06/2005',
 'S0001585': '29/06/2008',
 'S0022296': '29/06/2009',
 'S0002879': '29/06/2009',
 'S0019025': '29/06/2009',
 'S0020909': '29/06/2009',
 'S0023649': '29/06/2009',
 'S0021465': '29/06/2009',
 'S0021470': '29/06/2009',
 'S0022364': '29/06/2009',
 'S0022304': '29/06/2010',
 'S0023405': '29/06/2014',
 'S0002612': '29/06/2015',
 'S0021269': '29/06/2015',
 'S0019609': '29/06/2015',
 'S0002903': '29/06/2017',
 'S0002890': '29/06/2017',
 'S0023426': '29/06/2018',
 'S0224270': '29/06/2020',
 'S0000192': '29/06/2020',
 'S0022043': '29/06/2020',
 'S0022042': '29/06/2020',
 'S0020932': '29/06/2020',
 'S0224269': '29/06/2020',
 'S0001218': '29/09/2011',
 'S0023395': '29/09/2011',
 'S0002325': '30/01/1990',
 'S0001248': '30/03/2016',
 'S0019107': '30/06/2002',
 'S0018795': '30/06/2003',
 'S0019072': '30/06/2004',
 'S0006635': '30/06/2004',
 'S0006703': '30/06/2004',
 'S0006704': '30/06/2004',
 'S0001466': '30/06/2004',
 'S0006634': '30/06/2004',
 'S0006632': '30/06/2004',
 'S0006633': '30/06/2004',
 'S0001293': '30/06/2006',
 'S0022286': '30/06/2006',
 'S0004370': '30/06/2006',
 'S0021541': '30/06/2007',
 'S0005616': '30/06/2007',
 'S0019024': '30/06/2007',
 'S0003070': '30/06/2007',
 'S0022820': '30/06/2008',
 'S0001233': '30/06/2008',
 'S0023045': '30/06/2008',
 'S0005324': '30/06/2009',
 'S0004290': '30/06/2009',
 'S0001290': '30/06/2009',
 'S0021280': '30/06/2011',
 'S0005316': '30/06/2013',
 'S0019051': '30/06/2013',
 'S0001344': '30/06/2016',
 'S0023406': '30/06/2018',
 'S0019492': '30/08/2002',
 'S0005899': '30/08/2002',
 'S0229269': '30/09/2015',
 'S0006536': '30/12/2005',
 'S0004091': '30/12/2007',
 'S0004076': '30/12/2007',
 'S0022194': '30/12/2007',
 'S0004074': '30/12/2007',
 'S0006448': '30/12/2007',
 'S0004075': '30/12/2007',
 'S0006753': '30/12/2007',
 'S0005016': '30/12/2013',
 'S0230774': '30/12/2014',
 'S0232041': '30/12/2014',
 'S0232040': '30/12/2014',
 'S0230111': '30/12/2018',
 'S0018919': '30/12/2018',
 'S0001314': '30/12/2018',
 'S0004371': '30/12/2018',
 'S0000539': '31/03/1993',
 'S0004932': '31/03/1999',
 'S0001258': '31/03/1999',
 'S0001355': '31/12/1983',
 'S0001707': '31/12/2004',
 'S0001391': '31/12/2017',
 'S0023213': '31/12/2017',
 'S0001197': '31/12/2017',
 'S0001476': '31/12/2017'}

In [630]:
most_recent_end_dates_dict['S0001806']

'26/09/2008'

#### Ugly AF implementation for multiple condition where statement.

In [631]:
def match_site_code_date(date_col, df, recent_dict):
    match_idx = []
    
    for idx, row in df.iterrows():
        if row['SiteCode'] in recent_dict and row[date_col] == recent_dict[row['SiteCode']]:
            match_idx.append(idx)
            
    return match_idx

In [632]:
e_date_idxs = match_site_code_date('EndDate', df_edate, most_recent_end_dates_dict)

In [633]:
df_edate = df_edate[df_edate.index.isin(e_date_idxs)]
df_edate

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne),ppm
1132,S0001806,26/09/2008,26/09/2008,12.40000,0.100,gram/tonne,Rhodium,1.240000,tonnes,NaN,CHROMITE - PLATINOIDS,1.2400,0.100000
1133,S0001806,26/09/2008,26/09/2008,12.40000,0.200,gram/tonne,Gold,2480.000000,kilogram,NaN,CHROMITE - PLATINOIDS,2.4800,0.200000
1134,S0001806,26/09/2008,26/09/2008,12.40000,1.100,gram/tonne,Platinum,13640.000000,kilogram,NaN,CHROMITE - PLATINOIDS,13.6400,1.100000
1135,S0001806,26/09/2008,26/09/2008,12.40000,1.400,gram/tonne,Palladium,17360.000000,kilogram,NaN,CHROMITE - PLATINOIDS,17.3600,1.400000
1136,S0001806,26/09/2008,26/09/2008,9.80000,1.600,gram/tonne,Palladium,15680.000000,kilogram,NaN,CHROMITE - PLATINOIDS,15.6800,1.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16406,S0232041,15/10/2014,30/12/2014,0.05959,21.110,percent,Iron,0.012579,million tonnes,NaN,NICKEL,12579.0000,211092.465179
16407,S0232041,15/10/2014,30/12/2014,0.05959,1.039,percent,Nickel,0.619140,kilotonne,NaN,NICKEL,619.1400,10389.998322
16408,S0232041,15/10/2014,30/12/2014,0.05959,0.085,percent,Cobalt,50.651500,tonnes,NaN,NICKEL,50.6515,850.000000
16409,S0232041,15/10/2014,30/12/2014,0.05959,2.560,percent,Magnesium,1.525504,kilotonne,NaN,NICKEL,1525.5040,25600.000000
16410,S0232041,15/10/2014,30/12/2014,0.05959,1.580,percent,Aluminium,0.000942,million tonnes,NaN,NICKEL,942.0000,15808.021480

In [634]:
df_edate = df_edate.drop(columns=['StartDate'])
df_edate = df_edate.rename(columns={'EndDate': 'Date'})
df_edate['isStartDate'] = False

#### No End Date

In [635]:
df_no_edate_recent = df_no_edate.sort_values('StartDate').groupby('SiteCode').tail(1)

df_no_edate_site_dates = df_no_edate_recent[['SiteCode','StartDate']]

recent_sdates = dict(zip(df_no_edate_site_dates['SiteCode'], df_no_edate_site_dates['StartDate']))

In [636]:
no_edate_idxs = match_site_code_date('StartDate', df_no_edate, recent_sdates)

In [637]:
df_no_edate = df_no_edate[df_no_edate.index.isin(no_edate_idxs)]

In [638]:
df_no_edate = df_no_edate.drop(columns=['EndDate'])
df_no_edate = df_no_edate.rename(columns={'StartDate': 'Date'})
df_no_edate['isStartDate'] = True

In [639]:
df_edate.shape, df_no_edate.shape

((464, 13), (758, 13))

In [640]:
df_both = pd.concat([df_edate, df_no_edate], axis=0)
df_both.shape

(1222, 13)

### Duplicate SiteCodes still exist??

In [641]:
# df_both = df_both.sort_values('Date').groupby('SiteCode').tail(1)

In [642]:
df_both.shape

(1222, 13)

#### Create input dataframe

In [643]:
df_both

,SiteCode,Date,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne),ppm,isStartDate
1132,S0001806,26/09/2008,12.4,0.100,gram/tonne,Rhodium,1.24,tonnes,NaN,CHROMITE - PLATINOIDS,1.24,0.1,False
1133,S0001806,26/09/2008,12.4,0.200,gram/tonne,Gold,2480.00,kilogram,NaN,CHROMITE - PLATINOIDS,2.48,0.2,False
1134,S0001806,26/09/2008,12.4,1.100,gram/tonne,Platinum,13640.00,kilogram,NaN,CHROMITE - PLATINOIDS,13.64,1.1,False
1135,S0001806,26/09/2008,12.4,1.400,gram/tonne,Palladium,17360.00,kilogram,NaN,CHROMITE - PLATINOIDS,17.36,1.4,False
1136,S0001806,26/09/2008,9.8,1.600,gram/tonne,Palladium,15680.00,kilogram,NaN,CHROMITE - PLATINOIDS,15.68,1.6,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17129,S0236838,20/07/2018,0.4,0.300,percent,Copper,1.20,kilotonne,NaN,NICKEL,1200.00,3000.0,True
17130,S0236838,20/07/2018,0.4,0.600,percent,Nickel,2.40,kilotonne,NaN,NICKEL,2400.00,6000.0,True
17131,S0236838,20/07/2018,0.4,0.030,percent,Cobalt,120.00,tonnes,NaN,NICKEL,120.00,300.0,True
17214,S0236992,11/12/2018,4.9,0.340,percent,Nickel,16.66,kilotonne,NaN,NICKEL,16660.00,3400.0,True
17215,S0236992,11/12/2018,4.9,0.084,percent,Cobalt,4116.00,tonnes,0.06,NICKEL,4116.00,840.0,True

In [644]:
df_input = df_both[['SiteCode','CommodityName', 'ppm']]
df_input

       SiteCode CommodityName     ppm
1132   S0001806       Rhodium     0.1
1133   S0001806          Gold     0.2
1134   S0001806      Platinum     1.1
1135   S0001806     Palladium     1.4
1136   S0001806     Palladium     1.6
...         ...           ...     ...
17129  S0236838        Copper  3000.0
17130  S0236838        Nickel  6000.0
17131  S0236838        Cobalt   300.0
17214  S0236992        Nickel  3400.0
17215  S0236992        Cobalt   840.0

[1222 rows x 3 columns]

#### There are duplicate readings of Minerals with different measurements??? Will drop for now

In [645]:
x = df_input.set_index('SiteCode')
x = x[x.index == 'S0001806']
x

         CommodityName     ppm
SiteCode
S0001806       Rhodium     0.1
S0001806          Gold     0.2
S0001806      Platinum     1.1
S0001806     Palladium     1.4
S0001806     Palladium     1.6
S0001806       Rhodium     0.1
S0001806          Gold     0.3
S0001806      Platinum     1.1
S0001806      Platinum     1.1
S0001806     Palladium     1.6
S0001806       Rhodium     0.1
S0001806          Gold     0.3
S0001806        Nickel   700.0
S0001806        Copper   900.0
S0001806        Nickel  1100.0
S0001806        Copper  2200.0
S0001806        Copper  1500.0
S0001806        Nickel   900.0

#### Now every site has a unique commodity

In [646]:
unique_site_comm = df_input[['SiteCode', 'CommodityName']].drop_duplicates()

In [647]:
df_input = df_input[df_input.index.isin(unique_site_comm.index)]

#### Pivot

In [648]:
df_input = df_input.pivot(index='SiteCode', columns='CommodityName', values='ppm').rename_axis(None)
df_input.head(10)

CommodityName,Alumina,Aluminium,Arsenic,Calcium,Carbonate,Chromium,Cobalt,Copper,Gold,Iron,...,Nickel,Palladium,Platinum,Platinum group elements,Rhodium,Scandium,Silica,Silver,Sulfur,Zinc
S0000192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0000539,NaN,NaN,23000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001174,NaN,9700.0,NaN,19000.0,190300.0,NaN,200.0,20.0,NaN,79300.0,...,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
S0001178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,...,14000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S0001233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [649]:
abdundant_minerals = ['Nickel', 'Iron']

In [650]:
df_ni_fe = df_input.loc[:,abdundant_minerals]
df_ni_fe

CommodityName   Nickel     Iron
S0000192       59000.0      NaN
S0000539       20000.0      NaN
S0001174        6000.0  79300.0
S0001178        6300.0      NaN
S0001188        8600.0      NaN
...                ...      ...
S0236343        7200.0      NaN
S0236620        5800.0      NaN
S0236621        4500.0      NaN
S0236838        8000.0      NaN
S0236992        3400.0      NaN

[329 rows x 2 columns]

In [651]:
df_ni_fe = df_ni_fe.dropna()

In [652]:
df_ni_fe.to_csv('./ni_fe_prediction_set.csv')

In [653]:
site_locs = pd.read_excel('../../data/minedex/Sites.xlsx')

In [654]:
site_locs.columns

Index(['SiteCode', 'ShortTitle', 'Title', 'Type', 'SubType', 'Stage',
       'Confidentiality', 'ProjectCode', 'ProjectTitle', 'Latitude',
       'Longitude', 'MgaZone', 'Easting', 'Northing', 'GroupSite',
       'Commodities', 'CommodityGroups', 'TargetCommodityGroups',
       'MineralizationStyle', 'SecondaryMineralizationStyle', 'MapSheetNo100k',
       'MapSheetName100k', 'MapSheetNo250k', 'MapSheetName250k', 'LGAName',
       'DevelopmentRegion', 'DistrictNo', 'DistrictName', 'TectonicUnit',
       'EILFlag', 'EISFlag', 'GBRMFlag'],
      dtype='object')

In [655]:
site_locs = site_locs[['SiteCode', 'Latitude', 'Longitude']].set_index('SiteCode')

In [658]:
df_ni_fe.columns = df_ni_fe.columns.rename(None)

In [664]:
site_locs.index = site_locs.index.rename(None)

In [667]:
site_locs

           Latitude   Longitude
S0000001 -28.565092  122.480745
S0000002 -26.787370  118.574407
S0000002 -26.787370  118.574407
S0000005 -29.690630  121.012802
S0000006 -30.239151  121.222783
...             ...         ...
S0239727 -16.560735  124.199010
S0239728 -21.774382  115.063054
S0239729 -16.635728  124.176460
S0239730 -27.057302  120.957395
S0239731 -24.507142  116.279462

[43124 rows x 2 columns]

In [671]:
site_locs.reset_index()

          index   Latitude   Longitude
0      S0000001 -28.565092  122.480745
1      S0000002 -26.787370  118.574407
2      S0000002 -26.787370  118.574407
3      S0000005 -29.690630  121.012802
4      S0000006 -30.239151  121.222783
...         ...        ...         ...
43119  S0239727 -16.560735  124.199010
43120  S0239728 -21.774382  115.063054
43121  S0239729 -16.635728  124.176460
43122  S0239730 -27.057302  120.957395
43123  S0239731 -24.507142  116.279462

[43124 rows x 3 columns]

In [681]:
df_ni_fe = df_ni_fe.merge(site_locs, how='left', left_index=True, right_index=True)
df_ni_fe

                Nickel           Iron   Latitude   Longitude
S0001174   6000.000000   79300.000000 -33.633382  120.374303
S0004371   9900.000000  325000.000000 -29.125713  122.999515
S0004371   9900.000000  325000.000000 -29.125713  122.999515
S0005631   6200.000000  108000.000000 -33.666733  120.400034
S0006586   5500.000000  113000.000000 -33.592899  120.280502
S0006685   6200.000000  139000.000000 -33.576416  120.325452
S0016710   9700.000000  211000.000000 -29.516721  121.794174
S0016719   9630.000000  211000.000000 -28.781521  122.575302
S0018838   6300.000000   95000.000000 -33.633382  120.374303
S0018919   9500.000000  219000.000000 -29.194819  123.045319
S0018919   9500.000000  219000.000000 -29.194819  123.045319
S0020571   9800.000000  185000.000000 -29.173225  122.253938
S0020966  22300.000000  109000.311429 -31.502859  121.530899
S0022918   6400.000000  129800.000000 -30.920900  121.852898
S0224398   3300.000000   98500.000000 -26.107121  127.696899
S0224398   3300.000000   98500.000000 -26.107121  127.696899
S0224720   3800.000000  380800.000000 -26.825641  117.788691
S0226200   8000.000000  410000.000670 -30.090520  121.163303
S0229459   5300.000000  117000.000000 -33.540333  120.331828
S0230774  10800.000000  207000.000000 -28.938038  121.739997
S0230776  10400.000000  181000.000000 -29.506031  121.929232
S0230931   6400.000000  197100.000000 -26.821239  117.739601
S0232040  10120.002464  236801.577034 -28.813443  121.880370
S0232041   9989.999694  195099.238509 -28.824144  121.868033

In [682]:
df_ni_fe.to_csv('./ni_fe_prediction_set.csv')

#### Pivot by SiteCode

In [309]:
df_input_ni_input = df_input_ni_input.pivot(index='SiteCode', columns='CommodityName', values='ppm')
df_input_ni_input

CommodityName  Iron   Nickel
SiteCode
S0000192        NaN  59000.0
S0001178        NaN   6800.0
S0001188        NaN   8600.0
S0001197        NaN  14000.0
S0001218        NaN  28000.0
...             ...      ...
S0232260        NaN   5200.0
S0235782        NaN  20000.0
S0236620        NaN   5800.0
S0236621        NaN   4500.0
S0236992        NaN   3400.0

[251 rows x 2 columns]

In [310]:
df_input_ni_input.dropna()

Empty DataFrame
Columns: [Iron, Nickel]
Index: []

In [302]:
df_input = df_input.rename_axis(None)
df_input

CommodityName      Iron   Nickel
S0000192            NaN  59000.0
S0001175       565000.0      NaN
S0001177       302000.0      NaN
S0001178            NaN   6800.0
S0001188            NaN   8600.0
...                 ...      ...
S0235782            NaN  20000.0
S0236620            NaN   5800.0
S0236621            NaN   4500.0
S0236992            NaN   3400.0
S0237280       304000.0      NaN

[464 rows x 2 columns]

In [303]:
df_input.isna().sum()

CommodityName
Iron      244
Nickel    220
dtype: int64

In [304]:
df_input

CommodityName      Iron   Nickel
S0000192            NaN  59000.0
S0001175       565000.0      NaN
S0001177       302000.0      NaN
S0001178            NaN   6800.0
S0001188            NaN   8600.0
...                 ...      ...
S0235782            NaN  20000.0
S0236620            NaN   5800.0
S0236621            NaN   4500.0
S0236992            NaN   3400.0
S0237280       304000.0      NaN

[464 rows x 2 columns]

In [305]:
df_input.dropna()

Empty DataFrame
Columns: [Iron, Nickel]
Index: []