In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('../../hank/Transformed_Minedex_data.csv')
df.head()

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne),ppm
0,S0000001,13/07/2005,14/09/2006,0.695,1.30,gram/tonne,Gold,903.50,kilogram,NaN,GOLD,0.90350,1.30
1,S0000002,12/03/2019,NaN,0.528,2.09,gram/tonne,Gold,1103.52,kilogram,0.3,GOLD,1.10352,2.09
2,S0000005,30/09/2006,07/03/2016,0.011,7.33,gram/tonne,Gold,80.63,kilogram,NaN,GOLD,0.08063,7.33
3,S0000005,30/09/2006,07/03/2016,0.018,4.94,gram/tonne,Gold,88.92,kilogram,NaN,GOLD,0.08892,4.94
4,S0000006,08/10/1993,30/12/2014,0.057,2.36,gram/tonne,Gold,134.52,kilogram,NaN,GOLD,0.13452,2.36

In [3]:
df_mi = pd.read_csv('../../data/minedex/SiteMineralization.csv')

orth_deposits = ['Orthomagmatic mafic and ultramafic - layered mafic intrusions', \
        'Orthomagmatic mafic and ultramafic - komatiitic or dunitic']

df_mi = df_mi[df_mi['MineralizationStyle'].isin(orth_deposits)]

In [5]:
df = df.merge(df_mi[['SiteCode', 'MineralizationStyle']])
df.shape

(324, 14)

In [19]:
df.groupby('SiteCode')['CommodityName'].unique()

SiteCode
S0001197                                             [Nickel]
S0001204                                     [Nickel, Copper]
S0001221                                             [Nickel]
S0001273                                             [Nickel]
S0001440                                     [Copper, Nickel]
S0001442                             [Copper, Cobalt, Nickel]
S0001451                             [Copper, Nickel, Cobalt]
S0001584                                             [Nickel]
S0001585                                             [Nickel]
S0001667                                             [Nickel]
S0001680                             [Nickel, Cobalt, Copper]
S0001757               [Vanadium pentoxide, Titanium dioxide]
S0001759                                 [Vanadium pentoxide]
S0001764                                 [Vanadium pentoxide]
S0001768         [Titanium dioxide, Iron, Vanadium pentoxide]
S0001769               [Vanadium pentoxide, Titanium dioxide]
S0001805          [Palladium, Gold, Platinum, Nickel, Copper]
S0001806    [Rhodium, Gold, Platinum, Palladium, Nickel, C...
S0002888                                             [Nickel]
S0002890                                             [Nickel]
S0003377                                     [Copper, Nickel]
S0003378                                     [Nickel, Copper]
S0003500                       [Aggregate - undifferentiated]
S0003690                                             [Nickel]
S0004074                                             [Nickel]
S0004075                                             [Nickel]
S0004076                                             [Nickel]
S0004091                                             [Nickel]
S0005584                  [Palladium, Copper, Cobalt, Nickel]
S0006421                                 [Vanadium pentoxide]
S0006422         [Iron, Vanadium pentoxide, Titanium dioxide]
S0006423         [Iron, Vanadium pentoxide, Titanium dioxide]
S0006755                           [Iron, Vanadium pentoxide]
S0016658                                             [Nickel]
S0018904    [Palladium, Silver, Platinum, Gold, Nickel, Co...
S0019102    [Gold, Palladium, Silver, Platinum, Copper, Ni...
S0019502    [Iron, Alumina, Loss on ignition, Silica, Vana...
S0020422        [Palladium, Platinum, Nickel, Copper, Cobalt]
S0020474                                             [Nickel]
S0021367                [Iron - ferric oxide, Chromium oxide]
S0025535    [Titanium dioxide, Iron, Alumina, Silica, Vana...
S0032888          [Gold, Platinum, Palladium, Nickel, Copper]
S0223588                                 [Vanadium pentoxide]
S0223589                                 [Vanadium pentoxide]
S0223611                                 [Vanadium pentoxide]
S0224398    [Iron, Sulfur, Copper, Nickel, Cobalt, Magnesi...
S0224815                                     [Chromium oxide]
S0229528    [Silica, Vanadium pentoxide, Iron, Titanium di...
S0229862                                             [Nickel]
S0230328                        [Platinum, Palladium, Copper]
S0230357                                             [Nickel]
S0230680    [Platinum, Gold, Palladium, Rhodium, Copper, N...
S0230972                                             [Nickel]
S0231143                                             [Nickel]
Name: CommodityName, dtype: object

#### Create input dataframe

In [8]:
df_input = df[['SiteCode', 'CommodityName', 'ppm']]
df_input

     SiteCode CommodityName       ppm
0    S0001805     Palladium      2.83
1    S0001805          Gold      0.42
2    S0001805      Platinum      2.46
3    S0001805          Gold      0.38
4    S0001805     Palladium      3.21
..        ...           ...       ...
319  S0230357        Nickel  62000.00
320  S0230972        Nickel  29000.00
321  S0230972        Nickel  19000.00
322  S0231143        Nickel  17000.00
323  S0231143        Nickel  15000.00

[324 rows x 3 columns]

In [21]:
abdundant_minerals = ['Nickel', 'Iron']

site_w_ni_fe = df[df['CommodityName'].isin(abdundant_minerals)]['SiteCode']

In [22]:
site_w_ni_fe.shape

(114,)

In [23]:
df[df['SiteCode'].isin(site_w_ni_fe)]

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne),ppm,MineralizationStyle
0,S0001805,30/06/2015,NaN,4.400,2.83,gram/tonne,Palladium,12452.000,kilogram,NaN,CHROMITE - PLATINOIDS,12.4520,2.83,Orthomagmatic mafic and ultramafic - layered m...
1,S0001805,30/06/2015,NaN,4.400,0.42,gram/tonne,Gold,1848.000,kilogram,NaN,CHROMITE - PLATINOIDS,1.8480,0.42,Orthomagmatic mafic and ultramafic - layered m...
2,S0001805,30/06/2015,NaN,4.400,2.46,gram/tonne,Platinum,10824.000,kilogram,NaN,CHROMITE - PLATINOIDS,10.8240,2.46,Orthomagmatic mafic and ultramafic - layered m...
3,S0001805,30/06/2015,NaN,4.130,0.38,gram/tonne,Gold,1569.400,kilogram,NaN,CHROMITE - PLATINOIDS,1.5694,0.38,Orthomagmatic mafic and ultramafic - layered m...
4,S0001805,30/06/2015,NaN,4.130,3.21,gram/tonne,Palladium,13257.300,kilogram,NaN,CHROMITE - PLATINOIDS,13.2573,3.21,Orthomagmatic mafic and ultramafic - layered m...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,S0230357,30/06/2020,NaN,0.058,6.20,percent,Nickel,3.596,kilotonne,NaN,NICKEL,3596.0000,62000.00,Orthomagmatic mafic and ultramafic - komatiiti...
320,S0230972,05/02/2016,NaN,0.240,2.90,percent,Nickel,6.960,kilotonne,1.0,NICKEL,6960.0000,29000.00,Orthomagmatic mafic and ultramafic - komatiiti...
321,S0230972,05/02/2016,NaN,0.020,1.90,percent,Nickel,0.380,kilotonne,1.0,NICKEL,380.0000,19000.00,Orthomagmatic mafic and ultramafic - komatiiti...
322,S0231143,05/02/2016,NaN,1.800,1.70,percent,Nickel,30.600,kilotonne,1.0,NICKEL,30600.0000,17000.00,Orthomagmatic mafic and ultramafic - komatiiti...
323,S0231143,05/02/2016,NaN,0.100,1.50,percent,Nickel,1.500,kilotonne,1.0,NICKEL,1500.0000,15000.00,Orthomagmatic mafic and ultramafic - komatiiti...

In [24]:
df.pivot(index='SiteCode', columns='CommodityName', values='ppm')

ValueError: Index contains duplicate entries, cannot reshape

# END

### Filter by Abundant Minerals

#### Pivot by SiteCode

In [ ]:
df_input = df_input.pivot(index='SiteCode', columns='CommodityName', values='ppm')
df_input

In [ ]:
df_input = df_input.rename_axis(None)
df_input

In [ ]:
df_input.isna().sum()

In [ ]:
df_input

In [ ]:
df_input.dropna()