In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../data/osnaca-data9c1fd4a55259640992edff0000a865d5.xlsx')
df.head()

,Sample,Code,Au (FA),Pt,Pd,Au (AR),Bi,Te,Hg,Ag,...,Y,Zn,B,Hf,Si,Zr,Be,Ga,Ge,Wt Tot
0,700001,NaN,0.438,0.002,0.002,0.362,10.60,0.02,0.39,91.5,...,1.2,153000,-20,0.4,34200,60,-1.0,11.0,1,159
1,700002,NaN,0.093,0.001,0.002,0.095,125.00,0.22,0.12,44.0,...,18.5,3780,-20,0.2,114000,20,-1.0,2.0,-1,143
2,700003,NaN,1.41,0.002,0.002,1.39,120.00,0.02,62.9,215.0,...,0.3,219000,-20,-0.2,71500,-10,-1.0,-1.0,2,204
3,700004,1,0.096,0.003,0.005,0.086,0.72,0.80,0.03,2.5,...,6.3,755,-20,2.0,244000,70,-1.0,-1.0,-1,185
4,700005,NaN,2.9,0.003,0.005,3.94,0.34,0.06,4.01,162.0,...,4.5,173000,-20,-0.2,142000,-10,-1.0,-1.0,2,280

In [3]:
df.shape

(1139, 69)

In [4]:
df.dtypes

Sample       int64
Code        object
Au (FA)     object
Pt          object
Pd          object
            ...
Zr           int64
Be         float64
Ga         float64
Ge           int64
Wt Tot      object
Length: 69, dtype: object

In [5]:
df['Ge']

0       1
1      -1
2       2
3      -1
4       2
       ..
1134    1
1135    1
1136    1
1137    3
1138    1
Name: Ge, Length: 1139, dtype: int64