In [2]:
import pandas as pd
import pickle

In [13]:
# file containing indexs of close (< 10km) row indexes from WAMEX from .SHP file containing Nickel Drillhold deposits
# NOTE: rows are repeated!
with open('../eli/wamex_close_coords_to_shp_minedex_terminatedafter12hrs.pickle', 'rb') as file:
    close_coords_indicies = pickle.load(file)

In [14]:
# repeats indexes so set to find unique row indexs
close_coords_indicies = list(set(close_coords_indicies))
print(f"\n Sample: {close_coords_indicies[:10]} \n\n Length: {len(close_coords_indicies)}")

 Sample: [131072, 131073, 131084, 131085, 131086, 131087, 131088, 131089, 131090, 131091]

 Length: 75628

### WAMEX data

 ·      Cobalt associated with nickel (and copper) in so-called orthomagmatic (igneous) mafic to ultramafic volcanic (komatiite)-hosted and intrusion-hosted deposits
 
 
 Cobalt is a chemical element with the symbol Co and atomic number 27. Like nickel, cobalt is found in the Earth's crust only in a chemically combined form, save for small deposits found in alloys of natural meteoric iron. The free element, produced by reductive smelting, is a hard, lustrous, silver-gray metal. Wikipedia
Symbol: Co <br>
Electron configuration: [Ar] 3d74s2 <br>
Atomic number: 27 <br>
Atomic mass: 58.933195 u <br>
Melting point: 1,495 °C <br>
Discovered: 1735 <br>
Discoverer: Georg Brandt <br>

In [15]:
df_wamex_rc = pd.read_csv('../data/wamex/WAMEX_1_Rockchip_Original.csv')
df_wamex_rc.head(2)

/home/franticoreo/miniconda3/envs/minerals/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
0,1,NaN,229866,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,2,NaN,229867,NaN,NaN,NaN,NaN,-34.048839,118.176663,NaN,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [17]:
df_wamex_rc = df_wamex_rc.iloc[close_coords_indicies,:]
df_wamex_rc.shape

(75628, 143)

In [26]:
def replace_neg9999(val):
    if val == -9999: 
        return 0
    else:
        return val

df_wamex_rc.applymap(replace_neg9999)

,OBJECTID,DATASET,SAMPLEID,GSWANO,EXTRACT_DA,BATCH_NO,QMAPID,DLAT,DLONG,EASTING,...,W_ppm,WO3_ppm,Y_ppm,Y2O3_ppm,Yb_ppm,Yb2O3_ppm,Zn_ppm,ZnO_ppm,Zr_ppm,ZrO2_ppm
131072,131073,NaN,4285512,NaN,NaN,NaN,NaN,-30.704511,121.551388,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,141.0,175.5168,0.0,0.0
131073,131074,NaN,4285513,NaN,NaN,NaN,NaN,-30.707096,121.546128,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,44.0,54.7712,0.0,0.0
131084,131085,NaN,4308936,NaN,NaN,NaN,NaN,-31.768529,119.601723,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,41.0,51.0368,0.0,0.0
131085,131086,NaN,4308937,NaN,NaN,NaN,NaN,-31.768086,119.601774,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,30.0,37.3440,0.0,0.0
131086,131087,NaN,4308938,NaN,NaN,NaN,NaN,-31.764900,119.600154,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,36.0,44.8128,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131067,131068,NaN,4285504,NaN,NaN,NaN,NaN,-30.696633,121.537641,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,23.0,28.6304,0.0,0.0
131068,131069,NaN,4285505,NaN,NaN,NaN,NaN,-30.697406,121.538161,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,290.0,360.9920,0.0,0.0
131069,131070,NaN,4285509,NaN,NaN,NaN,NaN,-30.704473,121.551221,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,193.0,240.2464,0.0,0.0
131070,131071,NaN,4285510,NaN,NaN,NaN,NaN,-30.705344,121.551626,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,172.0,214.1056,0.0,0.0
131071,131072,NaN,4285511,NaN,NaN,NaN,NaN,-30.704975,121.551767,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,27.0,33.6096,0.0,0.0

0