In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('ResourceEstimates.csv')
original_data.head()

,SiteCode,ShortTitle,ResourceCode,StartDate,EndDate,ReportingStandard,JORCCategory,JORCStatus,IN_TOTAL_FLAG,In Total Type,...,ContainedMetal,ContainedMetalUnit,CutOffGrade,CutOffGradeUnit,HeavyMineralPct,TargetCommodityGroup,Site_MineralizationStyle,Site_SecondaryMineralizationStyle,Resource_MineralizationStyle,Resource_SecondaryMineralizationStyle
0,S0000001,Pieces of Eight,1,13/07/2005,14/09/2006,Unknown,Resource,Inferred,No,Not in Total,...,903.50,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Unknown/Unassigned,Unknown/Unassigned,Unknown/Unassigned
1,S0000002,Albury Heath,2,30/06/1999,01/10/2003,Unknown,Resource,Indicated,No,Not in Total,...,379.48,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Au in shears or faults
2,S0000002,Albury Heath,3,04/06/2003,06/02/2017,Unknown,Resource,Measured,Yes,Resources,...,108.16,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Unknown/Unassigned
3,S0000002,Albury Heath,4,04/06/2003,06/02/2017,Unknown,Resource,Indicated,Yes,Resources,...,361.68,kilogram,NaN,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Unknown/Unassigned
4,S0000002,Albury Heath,28452,07/02/2017,11/03/2019,"JORC (Australia, version unknown)",Resource,Indicated,Yes,Resources,...,675.00,kilogram,0.5,gram/tonne,NaN,GOLD,Vein and hydrothermal - undivided,Au in shears or faults,Unknown/Unassigned,Unknown/Unassigned

In [3]:
original_data.columns

Index(['SiteCode', 'ShortTitle', 'ResourceCode', 'StartDate', 'EndDate',
       'ReportingStandard', 'JORCCategory', 'JORCStatus', 'IN_TOTAL_FLAG',
       'In Total Type', 'Tonnage (Mt)', 'Grade', 'GradeUnit', 'CommodityName',
       'ContainedMetal', 'ContainedMetalUnit', 'CutOffGrade',
       'CutOffGradeUnit', 'HeavyMineralPct', 'TargetCommodityGroup',
       'Site_MineralizationStyle', 'Site_SecondaryMineralizationStyle',
       'Resource_MineralizationStyle',
       'Resource_SecondaryMineralizationStyle'],
      dtype='object')

In [4]:
df=original_data[['SiteCode','StartDate', 'EndDate','Tonnage (Mt)','Grade','GradeUnit','CommodityName','ContainedMetal','ContainedMetalUnit','CutOffGrade','TargetCommodityGroup']]

million tonnes = 1 000 000 tonnes

GradeUnit is equivalent to ppm

In [5]:
df['ContainedMetalUnit'].value_counts()

kilotonne         21614
kilogram          20076
million tonnes    12381
tonnes             3234
million carats      215
000 tonnes           13
Name: ContainedMetalUnit, dtype: int64

## Convert unit measures to tonne unit

Convert measure to tonne is easy to calculate for machine rather than kg

* 000 tonnes - long ton (Brit) a unit of weight equal to 2240 pounds or 1016.046909 kilograms = 1.016.
* million carats = 0.2 tonne
* million tonnes = 1 000 000 tonnes
* kilotonne = 1000  tonnes

In [6]:
quantity=[]
for i in range(len(df)):
    if df.iloc[i,8] == 'kilotonne':
        quantity.append(df.iloc[i,7]*1000)
    elif df.iloc[i,8] == 'kilogram':
        quantity.append(df.iloc[i,7]/1000)
    elif df.iloc[i,8] == 'million tonnes':
        quantity.append(df.iloc[i,7]*1000000)
    elif df.iloc[i,8] == 'million carats':
        quantity.append(df.iloc[i,7]*0.2)
    elif df.iloc[i,8] == 'tonnes':
        quantity.append(df.iloc[i,7])
    elif df.iloc[i,8] == '000 tonnes':
        quantity.append(df.iloc[i,7]*1.016)
    else:
        quantity.append('NaN')

In [7]:
dictionary =pd.DataFrame({'quantity(tonne)': quantity})
df = pd.concat([df, dictionary], axis=1)

In [8]:
df['CommodityName'].value_counts()

Gold                 18620
Iron                  4786
Nickel                4262
Silica                2968
Alumina               2937
                     ...
Tin                      1
Manganese ore            1
Clay - white clay        1
Tantalum                 1
Bismuth                  1
Name: CommodityName, Length: 147, dtype: int64

In [9]:
df

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,ContainedMetal,ContainedMetalUnit,CutOffGrade,TargetCommodityGroup,quantity(tonne)
0,S0000001,13/07/2005,14/09/2006,0.695,1.30,gram/tonne,Gold,903.50,kilogram,NaN,GOLD,0.9035
1,S0000002,30/06/1999,01/10/2003,0.179,2.12,gram/tonne,Gold,379.48,kilogram,NaN,GOLD,0.37948
2,S0000002,04/06/2003,06/02/2017,0.026,4.16,gram/tonne,Gold,108.16,kilogram,NaN,GOLD,0.10816
3,S0000002,04/06/2003,06/02/2017,0.137,2.64,gram/tonne,Gold,361.68,kilogram,NaN,GOLD,0.36168
4,S0000002,07/02/2017,11/03/2019,0.300,2.25,gram/tonne,Gold,675.00,kilogram,0.5,GOLD,0.675
...,...,...,...,...,...,...,...,...,...,...,...,...
57530,S0239459,31/12/2020,NaN,0.000,2.20,gram/tonne,Gold,0.00,kilogram,2.0,GOLD,0.0
57531,S0239459,31/12/2020,NaN,4.000,0.30,gram/tonne,Gold,1200.00,kilogram,0.4,GOLD,1.2
57532,S0239459,31/12/2020,NaN,25.000,1.20,gram/tonne,Gold,30000.00,kilogram,0.6,GOLD,30.0
57533,S0239459,31/12/2020,NaN,2.000,3.30,gram/tonne,Gold,6600.00,kilogram,2.0,GOLD,6.6
57534,S0239459,31/12/2020,NaN,10.000,0.40,gram/tonne,Gold,4000.00,kilogram,0.4,GOLD,4.0

In [10]:
df=df[['SiteCode','StartDate','EndDate','Tonnage (Mt)','Grade','GradeUnit','CommodityName','quantity(tonne)','TargetCommodityGroup']]

In [11]:
df_mineralization = pd.read_csv('SiteMineralization.csv')

In [24]:
df_mineralization

,SiteCode,ShortTitle,MineralizationStyle,SecondaryMineralizationStyle,Ore Minerals,Gangue Minerals,Alteration,Expression,Ore Controls,Mineralization Type,...,Vein Style,Structural Modifiers,Shape,Relation to Host,Metamorphic Grade,Mineralization Age,Age Method,from Age (Ma),to Age (Ma),Area (km)
0,S0000002,Albury Heath,Vein and hydrothermal - undivided,Au in shears or faults,Gold,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,S0000012,Baneygo,Vein and hydrothermal - undivided,Unknown/Unassigned,NaN,NaN,"argillic,hematitic,silicification",outcrop,structural,multiple vein,...,"colloform mass,massive",NaN,sheeted,"concordant,discordant",NaN,NaN,NaN,NaN,NaN,NaN
2,S0000014,Christmas Well,Vein and hydrothermal - undivided,Unknown/Unassigned,NaN,NaN,silicification,outcrop,structural,multiple vein,...,"colloform mass,massive",NaN,NaN,discordant,NaN,NaN,NaN,NaN,NaN,NaN
3,S0000015,McKenzie Well,Vein and hydrothermal - undivided,Unknown/Unassigned,NaN,NaN,silicification,outcrop,structural,multiple vein,...,"colloform mass,massive",NaN,NaN,discordant,NaN,NaN,NaN,NaN,NaN,NaN
4,S0000024,Dohertys,Vein and hydrothermal - undivided,Au in shears or faults,"Chalcopyrite,Gold,Pyrite,Scheelite,Pyrrhotite",NaN,NaN,outcrop,NaN,"multiple vein,stockwork",...,NaN,NaN,NaN,NaN,greenschist facies,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13498,S0239150,West Pit,Stratabound sedimentary - clastic-hosted,Supergene Fe in sedimentary basin,Hematite,NaN,NaN,outcrop,NaN,replacement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13499,S0239151,Waste Dump 1,Stratabound sedimentary - clastic-hosted,Supergene Fe in sedimentary basin,Hematite,NaN,NaN,outcrop,NaN,replacement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13500,S0239152,Waste Dump 2,Stratabound sedimentary - clastic-hosted,Supergene Fe in sedimentary basin,Hematite,NaN,NaN,outcrop,NaN,replacement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13501,S0239320,Klondyke UG,Vein and hydrothermal - undivided,Unknown/Unassigned,Gold,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13502,S0239378,BHP Deposit 19 Fe,Sedimentary - banded iron-formation (supergene...,Brockman-hosted Fe,"Hematite,Goethite",NaN,NaN,outcrop,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Total number of rows from 2 dataset are different, so after merging 2 dataset, a part of data will be lost

In [13]:
VHMS = 'Stratabound volcanic and sedimentary - volcanic-hosted sulfide'
df= df.merge(df_mineralization[['SiteCode', 'MineralizationStyle']])

In [14]:
df.CommodityName

,SiteCode,StartDate,EndDate,Tonnage (Mt),Grade,GradeUnit,CommodityName,quantity(tonne),TargetCommodityGroup,MineralizationStyle
0,S0000002,30/06/1999,01/10/2003,0.179,2.12,gram/tonne,Gold,0.37948,GOLD,Vein and hydrothermal - undivided
1,S0000002,04/06/2003,06/02/2017,0.026,4.16,gram/tonne,Gold,0.10816,GOLD,Vein and hydrothermal - undivided
2,S0000002,04/06/2003,06/02/2017,0.137,2.64,gram/tonne,Gold,0.36168,GOLD,Vein and hydrothermal - undivided
3,S0000002,07/02/2017,11/03/2019,0.300,2.25,gram/tonne,Gold,0.675,GOLD,Vein and hydrothermal - undivided
4,S0000002,07/02/2017,11/03/2019,0.090,1.90,gram/tonne,Gold,0.171,GOLD,Vein and hydrothermal - undivided
...,...,...,...,...,...,...,...,...,...,...
17269,S0238051,29/09/2020,NaN,2.300,0.68,percent,Iron - ferric oxide,15640.0,TIN - TANTALUM - LITHIUM,Pegmatitic
17270,S0238051,29/09/2020,NaN,2.300,1.13,percent,Lithium oxide,25990.0,TIN - TANTALUM - LITHIUM,Pegmatitic
17271,S0238062,08/01/2020,NaN,4.490,13.10,percent,Total graphitic carbon,588190.0,GRAPHITE,Stratabound sedimentary - undivided
17272,S0238062,08/01/2020,NaN,3.500,11.00,percent,Total graphitic carbon,385000.0,GRAPHITE,Stratabound sedimentary - undivided
17273,S0238062,08/01/2020,NaN,4.240,12.80,percent,Total graphitic carbon,542720.0,GRAPHITE,Stratabound sedimentary - undivided

### Subset the data from date 2020 onward

In [15]:
df1=df[df['StartDate'].str.contains("2020")]
df2=df[df['StartDate'].str.contains("2021")]
df = df1.append(df2)

In [26]:
df.EndDate.isna().sum()

711

In [27]:
df.StartDate.isna().sum()

0

In [17]:
df_vhms=df[df['MineralizationStyle']==VHMS]

In [18]:
def filtered_data(df):

    site_minerals=[]
    for i in range(len(df.SiteCode.unique())):
        a=df[df['SiteCode'] == df.SiteCode.unique()[i]]
        g = a.groupby('CommodityName')['quantity(tonne)'].sum()
        g=dict(g)
        site_minerals.append(g)
        
    row=[]
    for site in site_minerals:
        dic={}
        for i in df.CommodityName.unique():
            if i in site.keys():
                dic[i]=site[i]
            else:
                dic[i]=0
        row.append(dic)

    new_data= pd.DataFrame(row)
    new_data.insert(0, "SiteCode",  list(df.SiteCode.unique()), True)
    
    return new_data

In [19]:
data = filtered_data(df_vhms)

In [ ]:
# sum up all values by sidecode, each sidecode

In [20]:
data

   SiteCode     Silver     Gold    Copper     Lead      Zinc
0  S0001257  331.40000  5.68000  183400.0  27300.0  401400.0
1  S0033008   64.10000  2.15000   39800.0   6000.0  280300.0
2  S0033009   10.40000  0.20000   10400.0      0.0     800.0
3  S0033010    3.00000  0.06000     400.0    500.0   12700.0
4  S0033011   19.20000  0.64000   12600.0   3300.0  126200.0
5  S0225749    0.00000  0.71000   19400.0      0.0       0.0
6  S0232048   12.18482  0.60728   36118.0      0.0       0.0